clrs/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
clrs/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
*.jar
Maven__com_google_guava_guava_19_0.xml
